@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  overflow-x: hidden;
  color: theme("colors.slate.lighter");
  font-family: var(--font-montserrat);
  /* background-color: theme("colors.navy.DEFAULT"); */
  background-color: #061417;
}

body::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

/* scrollbar */
body::-webkit-scrollbar-track {
  @apply bg-navy-light;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 
  rounded-full bg-teal hover:bg-teal/60;
}

@layer base {
  :root {
    --background: #151923;
    --foreground: 210 40% 98%;

    --primary: 176 100% 50%;
    --primary-foreground: 222.2 84% 4.9%;

    --navy: #0f1729;
    --navy-light: #1e293b;
    --navy-lighter: #334155;
    --slate: #94a3b8;
    --slate-light: #cbd5e1;
    --slate-lighter: #e2e8f0;
    --teal: #14b8a6;
  }

  .light {
    --background: #ffffff;
    --foreground: 222.2 84% 4.9%;

    --primary: 176 100% 40%;
    --primary-foreground: 210 40% 98%;

    --navy: 210 40% 96.1%;
    --navy-light: 215 20.2% 65.1%;
    --navy-lighter: 222.2 47.4% 11.2%;

    --slate: 222.2 47.4% 11.2%;
    --slate-light: 215 20.2% 65.1%;
    --slate-lighter: 210 40% 96.1%;
  }

  body {
    @apply bg-navy text-slate-lighter;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-colors;
  }

  .btn-primary {
    @apply bg-teal text-navy hover:bg-opacity-90;
  }

  .btn-secondary {
    @apply bg-navy-light text-slate hover:bg-navy-lighter;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* CODE TO REMOVE NUMBER RANGE ON INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
